<p>Bonjour,<br/>
Veuillez valider la location du matériel "{{ affectation.materiel.libelle }}", dans votre chantier {{ affectation.chantier.nom }}</p><br/>

<a href="{{ validationUrl }}"
   style="
        display: inline-block;
        background-color: green;
        color: white;
        text-decoration: none;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 30px;
        font-family: Arial, sans-serif;
   ">
   Valider cette location
</a>
